In [10]:
import pandas as pd
import numpy as np
import sys 
import os 
import json
from datetime import datetime

In [11]:
root_path = os.path.dirname(os.getcwd())
sys.path.append(root_path)
sys.path = list(set(sys.path))

In [12]:
from src.utils.mining_data_tb import *

In [13]:
data = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv") #Boton derecho y copié la direccion de enlace
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [14]:
#Selecting assigned group B countries
data_sc = data[(data["location"] == "India") | (data["location"] == "Peru") | (data["location"] == "United States") | (data["location"] == "France") | (data["location"] == "Spain")]
print(data_sc.shape)
data_sc

(1761, 55)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
19447,FRA,Europe,France,2020-01-24,2.0,2.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19448,FRA,Europe,France,2020-01-25,3.0,1.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19449,FRA,Europe,France,2020-01-26,3.0,0.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19450,FRA,Europe,France,2020-01-27,3.0,0.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19451,FRA,Europe,France,2020-01-28,4.0,1.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58308,USA,North America,United States,2021-01-16,23758855.0,202758.0,223582.571,395851.0,3352.0,3333.571,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58309,USA,North America,United States,2021-01-17,23936773.0,177918.0,218100.857,397600.0,1749.0,3323.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58310,USA,North America,United States,2021-01-18,24078772.0,141999.0,207914.429,399003.0,1403.0,3237.143,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58311,USA,North America,United States,2021-01-19,24256028.0,177256.0,201033.429,401772.0,2769.0,2995.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58312,USA,North America,United States,2021-01-20,24438723.0,182695.0,194251.857,406147.0,4375.0,3054.143,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924

In [15]:
#Selecting the columns to explore and analyse.
data_final = data_sc[["iso_code","continent","location","date","total_cases","total_cases_per_million","new_cases_smoothed","new_cases_smoothed_per_million","new_deaths_smoothed","new_deaths_smoothed_per_million","total_deaths","total_deaths_per_million","life_expectancy","stringency_index","new_deaths"]]
data_final

,iso_code,continent,location,date,total_cases,total_cases_per_million,new_cases_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed,new_deaths_smoothed_per_million,total_deaths,total_deaths_per_million,life_expectancy,stringency_index,new_deaths
19447,FRA,Europe,France,2020-01-24,2.0,0.031,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
19448,FRA,Europe,France,2020-01-25,3.0,0.046,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
19449,FRA,Europe,France,2020-01-26,3.0,0.046,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
19450,FRA,Europe,France,2020-01-27,3.0,0.046,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
19451,FRA,Europe,France,2020-01-28,4.0,0.061,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58308,USA,North America,United States,2021-01-16,23758855.0,71778.444,223582.571,675.471,3333.571,10.071,395851.0,1195.915,78.86,71.76,3352.0
58309,USA,North America,United States,2021-01-17,23936773.0,72315.956,218100.857,658.910,3323.286,10.040,397600.0,1201.199,78.86,71.76,1749.0
58310,USA,North America,United States,2021-01-18,24078772.0,72744.953,207914.429,628.135,3237.143,9.780,399003.0,1205.437,78.86,71.76,1403.0
58311,USA,North America,United States,2021-01-19,24256028.0,73280.465,201033.429,607.347,2995.286,9.049,401772.0,1213.803,78.86,NaN,2769.0
58312,USA,North America,United States,2021-01-20,24438723.0,73832.410,194251.857,586.859,3054.143,9.227,406147.0,1227.020,78.86,NaN,4375.0

In [16]:
#Changing date column to datatime
changing_dates(df=data_final,name_column="date")

In [17]:
#Checking that NaN values are in all the countries in the selected dates.
df_per_country = pd.pivot_table(data_sc,values="new_deaths",index="date",columns="location",aggfunc=np.mean,dropna=False)
df_per_country

location    France  India   Peru  Spain  United States
date
2020-01-22     NaN    NaN    NaN    NaN            NaN
2020-01-23     NaN    NaN    NaN    NaN            NaN
2020-01-24     NaN    NaN    NaN    NaN            NaN
2020-01-25     NaN    NaN    NaN    NaN            NaN
2020-01-26     NaN    NaN    NaN    NaN            NaN
...            ...    ...    ...    ...            ...
2021-01-16     3.0  181.0    0.0    0.0         3352.0
2021-01-17   329.0  145.0  116.0    0.0         1749.0
2021-01-18   404.0  137.0    0.0  455.0         1403.0
2021-01-19   656.0  162.0    0.0  404.0         2769.0
2021-01-20   310.0  151.0  274.0  464.0         4375.0

[365 rows x 5 columns]