In [1]:
import pandas as pd
import numpy as np
import sys 
import os 
import json
from datetime import datetime

In [2]:
root_path = os.path.dirname(os.getcwd())
sys.path.append(root_path)
sys.path = list(set(sys.path))

In [3]:
from src.utils.mining_data_tb import *

In [4]:
data = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv") #Boton derecho y copié la direccion de enlace
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [5]:
#Selecting assigned group B countries
data_sc = data[(data["location"] == "India") | (data["location"] == "Peru") | (data["location"] == "United States") | (data["location"] == "France") | (data["location"] == "Spain")]
print(data_sc.shape)
data_sc

(1761, 55)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
19447,FRA,Europe,France,2020-01-24,2.0,2.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19448,FRA,Europe,France,2020-01-25,3.0,1.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19449,FRA,Europe,France,2020-01-26,3.0,0.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19450,FRA,Europe,France,2020-01-27,3.0,0.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19451,FRA,Europe,France,2020-01-28,4.0,1.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58308,USA,North America,United States,2021-01-16,23758855.0,202758.0,223582.571,395851.0,3352.0,3333.571,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58309,USA,North America,United States,2021-01-17,23936773.0,177918.0,218100.857,397600.0,1749.0,3323.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58310,USA,North America,United States,2021-01-18,24078772.0,141999.0,207914.429,399003.0,1403.0,3237.143,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58311,USA,North America,United States,2021-01-19,24256028.0,177256.0,201033.429,401772.0,2769.0,2995.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
58312,USA,North America,United States,2021-01-20,24438723.0,182695.0,194251.857,406147.0,4375.0,3054.143,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924

In [6]:
#Selecting the columns to explore and analyse.
data_final = data_sc[["iso_code","continent","location","date","total_cases","total_cases_per_million","new_cases_smoothed","new_cases_smoothed_per_million","new_deaths_smoothed","new_deaths_smoothed_per_million","total_deaths","total_deaths_per_million","life_expectancy","stringency_index","new_deaths"]]
data_final

,iso_code,continent,location,date,total_cases,total_cases_per_million,new_cases_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed,new_deaths_smoothed_per_million,total_deaths,total_deaths_per_million,life_expectancy,stringency_index,new_deaths
19447,FRA,Europe,France,2020-01-24,2.0,0.031,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
19448,FRA,Europe,France,2020-01-25,3.0,0.046,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
19449,FRA,Europe,France,2020-01-26,3.0,0.046,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
19450,FRA,Europe,France,2020-01-27,3.0,0.046,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
19451,FRA,Europe,France,2020-01-28,4.0,0.061,NaN,NaN,NaN,NaN,NaN,NaN,82.66,11.11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58308,USA,North America,United States,2021-01-16,23758855.0,71778.444,223582.571,675.471,3333.571,10.071,395851.0,1195.915,78.86,71.76,3352.0
58309,USA,North America,United States,2021-01-17,23936773.0,72315.956,218100.857,658.910,3323.286,10.040,397600.0,1201.199,78.86,71.76,1749.0
58310,USA,North America,United States,2021-01-18,24078772.0,72744.953,207914.429,628.135,3237.143,9.780,399003.0,1205.437,78.86,71.76,1403.0
58311,USA,North America,United States,2021-01-19,24256028.0,73280.465,201033.429,607.347,2995.286,9.049,401772.0,1213.803,78.86,NaN,2769.0
58312,USA,North America,United States,2021-01-20,24438723.0,73832.410,194251.857,586.859,3054.143,9.227,406147.0,1227.020,78.86,NaN,4375.0

In [7]:
#Changing date column to datatime
changing_dates(df=data_final,name_column="date")

In [8]:
menor_0 = data_final.loc[data_final["new_deaths"] < 0,:]
menor_0.shape

(11, 15)

In [9]:
menor_0

,iso_code,continent,location,date,total_cases,total_cases_per_million,new_cases_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed,new_deaths_smoothed_per_million,total_deaths,total_deaths_per_million,life_expectancy,stringency_index,new_deaths
19563,FRA,Europe,France,2020-05-19,182648.0,2798.195,453.714,6.951,147.286,2.256,28025.0,429.347,82.66,76.85,-217.0
19568,FRA,Europe,France,2020-05-24,184260.0,2822.891,365.286,5.596,37.000,0.567,28372.0,434.663,82.66,76.85,-80.0
19610,FRA,Europe,France,2020-07-05,206681.0,3166.384,503.286,7.710,16.286,0.249,29895.0,457.996,82.66,51.85,-1.0
19626,FRA,Europe,France,2020-07-21,216684.0,3319.631,685.429,10.501,18.857,0.289,30169.0,462.194,82.66,46.30,-13.0
19671,FRA,Europe,France,2020-09-04,349333.0,5351.834,6016.000,92.166,12.857,0.197,30696.0,470.267,82.66,48.61,-21.0
19722,FRA,Europe,France,2020-10-25,1138166.0,17436.874,28231.143,432.505,166.571,2.552,34649.0,530.828,82.66,49.54,-21.0
19732,FRA,Europe,France,2020-11-04,1593159.0,24407.435,44278.714,678.357,415.429,6.364,38734.0,593.411,82.66,78.70,-31.0
19770,FRA,Europe,France,2020-12-12,2407079.0,36876.812,10061.857,154.149,371.143,5.686,57671.0,883.528,82.66,75.00,-1.0
24754,IND,Asia,India,2020-03-21,330.0,0.239,32.571,0.024,0.286,0.000,4.0,0.003,69.66,76.39,-1.0
51441,ESP,Europe,Spain,2020-05-25,235400.0,5034.779,542.000,11.592,-125.000,-2.674,26834.0,573.931,83.56,75.46,-1918.0
51520,ESP,Europe,Spain,2020-08-12,329784.0,7053.482,3431.000,73.383,11.429,0.244,28579.0,611.253,83.56,60.65,-2.0

In [10]:
start_date = "2020-05-20"
end_date = "2020-05-30"

after_start_date = data_final["date"] >= start_date
before_end_date = data_final["date"] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = data_final.loc[between_two_dates]
filtered_dates.loc[filtered_dates["location"] == "Spain",:]

,iso_code,continent,location,date,total_cases,total_cases_per_million,new_cases_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed,new_deaths_smoothed_per_million,total_deaths,total_deaths_per_million,life_expectancy,stringency_index,new_deaths
51436,ESP,Europe,Spain,2020-05-20,232555.0,4973.930,552.000,11.806,112.000,2.395,27888.0,596.474,83.56,79.17,110.0
51437,ESP,Europe,Spain,2020-05-21,233037.0,4984.239,499.571,10.685,88.429,1.891,27940.0,597.586,83.56,79.17,52.0
51438,ESP,Europe,Spain,2020-05-22,234824.0,5022.459,663.000,14.180,167.000,3.572,28628.0,612.301,83.56,75.46,688.0
51439,ESP,Europe,Spain,2020-05-23,235290.0,5032.426,656.000,14.031,159.286,3.407,28678.0,613.370,83.56,75.46,50.0
51440,ESP,Europe,Spain,2020-05-24,235772.0,5042.735,724.857,15.503,169.857,3.633,28752.0,614.953,83.56,75.46,74.0
51441,ESP,Europe,Spain,2020-05-25,235400.0,5034.779,542.000,11.592,-125.000,-2.674,26834.0,573.931,83.56,75.46,-1918.0
51442,ESP,Europe,Spain,2020-05-26,236259.0,5053.151,603.143,12.900,-94.429,-2.020,27117.0,579.983,83.56,71.76,283.0
51443,ESP,Europe,Spain,2020-05-27,236259.0,5053.151,529.143,11.317,-110.143,-2.356,27117.0,579.983,83.56,68.06,0.0
51444,ESP,Europe,Spain,2020-05-28,237906.0,5088.378,695.571,14.877,-117.286,-2.509,27119.0,580.026,83.56,68.06,2.0
51445,ESP,Europe,Spain,2020-05-29,238564.0,5102.451,534.286,11.427,-215.286,-4.605,27121.0,580.069,83.56,68.06,2.0
51446,ESP,Europe,Spain,2020-05-30,239228.0,5116.653,562.571,12.032,-221.857,-4.745,27125.0,580.155,83.56,68.06,4.0