# TRABAJO GRUPAL CORONAVIRUS

Group B: India, Peru, EEUU, Francia and Spain:

Kapil
María
Juan

---------------------

In [5]:
root_path = os.path.dirname(os.getcwd())
sys.path.append(root_path)
sys.path = list(set(sys.path))

In [7]:
import pandas as pd
import numpy as np
import sys 
import os 
from datetime import datetime

In [9]:
from src.utils.visualization_tb import *
from src.utils.folders_tb import *
from src.utils.mining_data_tb import *
from src.utils.apis_tb import *

## 2.Data Wrangling

In [4]:
data = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv") #Boton derecho y copié la direccion de enlace
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [6]:
data.shape

(60894, 55)

In [8]:
data_sc = data[(data["location"] == "India") | (data["location"] == "Peru") | (data["location"] == "United States") | (data["location"] == "France") | (data["location"] == "Spain")]
print(data_sc.shape)
data_sc

(1751, 55)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
19326,FRA,Europe,France,2020-01-24,2.0,2.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19327,FRA,Europe,France,2020-01-25,3.0,1.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19328,FRA,Europe,France,2020-01-26,3.0,0.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19329,FRA,Europe,France,2020-01-27,3.0,0.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
19330,FRA,Europe,France,2020-01-28,4.0,1.0,NaN,NaN,NaN,NaN,...,38605.671,NaN,86.060,4.77,30.1,35.6,NaN,5.98,82.66,0.901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57946,USA,North America,United States,2021-01-14,23314521.0,235561.0,239727.143,388697.0,3929.0,3339.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
57947,USA,North America,United States,2021-01-15,23556097.0,241576.0,232450.000,392499.0,3802.0,3319.429,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
57948,USA,North America,United States,2021-01-16,23758855.0,202758.0,223582.571,395851.0,3352.0,3333.571,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
57949,USA,North America,United States,2021-01-17,23936773.0,177918.0,218100.857,397600.0,1749.0,3323.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924
57950,USA,North America,United States,2021-01-18,24078772.0,141999.0,207914.429,399003.0,1403.0,3237.143,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924

## 3.Creating an API
3.1 - Create a dataframe with the mean new deaths of our selected countries.

3.2 - Transform this dataframe to a json format

3.3 - Create API with the json

3.4 - Send the API to another group

In [10]:
check_nan = data_sc['new_deaths'].isnull().sum() 
check_nan

146

In [ ]:
miss = data_sc.isnull().sum() * 100 / len(data_sc)
miss[8]

In [ ]:
data_sc["new_deaths"].sample(10)